<footer class="footer-links">
    <nav class="level">
        <div class="level-left">
            <a class="navbar-item" href="https://github.com/spinframework/spin" target="_blank">GitHub</a>
            <a class="navbar-item" href="https://twitter.com/spinframework" target="_blank">Twitter</a>
        </div>
    </nav>
</footer>